@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.header{
  display: flex;
  align-items: center;
}

.flowerLogo{
  display: flex;
  margin-left: 28px;
  margin-top: 28px;
}

.flowersText{
  margin-top: 33px;
  margin-left: 12px;
}

.headerItems{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}
.headerItem{
  font-family: sans-serif;
  margin-left: 80px;
  margin-top: 25px;
  
}
.headerItem a{
  text-decoration: none;
  color:#949EA0;
}

.loginButton a{
  color: #DF9186;
}

.newAccButton {
  background-color: #DF9186;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
.newAccButton:hover{
  cursor: pointer;
}

.topContent{
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.bgImage{
  background: url("../pl-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.topText{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Montserrat;
  font-size: 40px;
  margin-top:154px;
  font-weight: 600;
  line-height: 40px;
}

.midText{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 17px;
  opacity: 0.7;
  line-height: 17px;
}

.searchBar{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 100px;
}

.searchButton{
  border: none;
  background-repeat: no-repeat;
  margin-left: -38px;
  height: 20px;
  width: 20px;
  background: url("../pl-icon-search.svg");
  background-repeat: no-repeat;
  background-color: white;
}

.searchButton:hover{
  cursor: pointer;
}

.inputBar{
  border: none;
  width: 600px;
  height: 70px;
  border-radius: 3px;
  font-size: 22px;
  padding-left: 15px;
}

.inputBar::placeholder{
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 20px;
}

.imageGallery{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 30px;
}


.flowerType{
  display: flex;
  color: white;
  position: absolute;
  line-height: 15px;
  font-size: 20px;
  font-family: Ubuntu;
  margin-top: 279px;
  margin-left: 233px;
}

.imageGradient{
  display: flex;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.7) 89.5%),url("../pl-image.png");
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 155px;
  margin-bottom: 10px;
}

.flowerDescription{
  display: flex;
  color: white;
  position: absolute;
  line-height: 15px;
  font-family: Ubuntu;
  font-style: italic;
  margin-top: 309px;
  margin-left: 235px;
  font-size: 12px;
  opacity: 0.7;
}

.sightingsButton{
  display: flex;
  color: white;
  position: absolute;
  line-height: 15px;
  font-size: 20px;
  font-family: Ubuntu;
  margin-top: 329px;
  margin-left: 253px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 30px;
}

.sightingsButton:hover{
  cursor: pointer;
}

.starButton{
  display: flex;
  background: url("../Fill\ 1.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  position: absolute;
  margin-top: 50px;
  margin-left: 390px;
  border-radius: 100%;
  border: none;
  background-color: gray;
  align-items: center;

}