@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');



.header{
  display: flex;
  align-items: center;
}

.flowerLogo{
  display: flex;
  margin-left: 28px;
  margin-top: 28px;
  height: 30px;
}

.flowersText{
  margin-top: 33px;
  margin-left: 12px;
}


.headerItems{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}
.headerItem{
  font-family: sans-serif;
  margin-left: 80px;
  margin-top: 25px;
  
}
.headerItem a{
  font-size: 20px;
  text-decoration: none;
  color:#949EA0;
}

.loginButton a{
  color: #DF9186;
}

.newAccButton {
  font-size: 15px;
  background-color: #DF9186;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
.newAccButton:hover{
  cursor: pointer;
}

.topContent{
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.bgImage{
  height: 650px;
  background: url("../pl-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.topText{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Montserrat;
  font-size: 40px;
  margin-top:154px;
  font-weight: 600;
  line-height: 40px;
}

.midText{
  display: flex;
  justify-content: center;
  color:white;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 17px;
  opacity: 0.7;
  line-height: 17px;
}

.searchBar{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 100px;
}

.searchButton{
  border: none;
  background-repeat: no-repeat;
  margin-left: -38px;
  height: 20px;
  width: 20px;
  background: url("../pl-icon-search.svg");
  background-repeat: no-repeat;
  background-color: white;
}

.searchButton:hover{
  cursor: pointer;
}

.inputBar{
  border: none;
  width: 600px;
  height: 70px;
  border-radius: 3px;
  font-size: 22px;
  padding-left: 15px;
}

.inputBar::placeholder{
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 20px;
}

.imageGallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}


.flowerType{
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 15px;
  font-size: 20px;
  font-family: Ubuntu;
  
}

.imageGradient{
  display: flex;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.7) 89.5%),url("../pl-image.png");
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 155px;
  margin-bottom: 10px;
}

.flowerDescription{
  display: flex;
  color: white;
  line-height: 15px;
  font-family: Ubuntu;
  font-style: italic;
  opacity: 0.7;
  justify-content: center;
}

.sightingsButton{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 29px;
  line-height: 15px;
  font-size: 20px;
  font-family: Ubuntu;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 30px;
}

.sightingsButton:hover{
  cursor: pointer;
}

.starButtonWrapper {
  display: flex;
  justify-content: end;
  margin: 20px 20px 196px 0;
}

.starButton{
  display: flex;
  background: url("../Fill\ 1.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  /* position: absolute; */
  border-radius: 100%;
  border: none;
  background-color: gray;
  align-items: center;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.createAccountModalContainer{
  z-index: 1;
  width: 33%;
  height: 500px;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position:fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  border-radius: 3px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.modalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modalHeader{
  font-family: ubuntu;
}

.modalBackground{
  width: 100%;
  height: 150vh;
  background-color:   rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.closeButton{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.closeButton button{
  border: none;
  height: 50px;
  width: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.accountHeader{
  margin-top: 0;
  font-weight: 500;
  font-size: 26px;
  color: #334144;
}

.nameAndLastName{
  display: flex;
  justify-content: space-between;
}

.firstNameInput{
  margin-right: 5%;
  width: 50%;
}

.firstNameInput input{
  height: 60px;
  background-color: #F5F6F7;
  border-radius: 3px;
  border: 1px solid #DFE5EA;
  width: 100%;
}

.lastNameInput{
  width: 50%;
}

.lastNameInput input{
  height: 60px;
  background-color: #F5F6F7;
  border-radius: 3px;
  border: 1px solid #DFE5EA;
  width: 100%;
}

.DOBInput input{
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  background-color: #F5F6F7;
  border-radius: 3px;
  border: 1px solid #DFE5EA
}

.passwordInput input{
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  background-color: #F5F6F7;
  border-radius: 3px;
  border: 1px solid #DFE5EA
}

.emailInput input{
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  background-color: #F5F6F7;
  border-radius: 3px;
  border: 1px solid #DFE5EA
}

.submitForm{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  margin-top: 15px;
}

.submitForm :hover{
  cursor: pointer;
}

.submitForm input{
  width: 100%;
  border-radius: 3px;
  color: white;
  background: linear-gradient(
  270deg, #ECBCB3 0%, #EAA79E 100%);
  border: none;
}

.form input{
  font-size: 15px;
}

